/*tablet*/
@media screen and (max-width: 768px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  

  /*mobile*/
  @media screen and (max-width: 600px) {

    .navbar-collapse a{
        display: none;
    }

    .navbar-collapse a:hover{
        display: block;
    }

    .column {
      -ms-flex: 25%;
      flex: 25%;
      max-width: 25%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .container .col{
        margin: 10px 0;
        font-size: 14px;
    }

    .navbar-collapse:hover + div {
        display: block;
      }

    .link-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    .link-footer div{
        margin: 20px;
    }

    .row{
        display: flex;
        flex-direction: column;
    }

    .row .col{
        margin: 15px 0;
    }
  }